export PGHOST=localhost
export EDITOR=subl

export SBT_OPTS='-Xmx2048M -XX:MaxPermSize=256M'
export RUBY_GC_MALLOC_LIMIT=120000000 
RUBY_HEAP_MIN_SLOTS=500000
RUBY_HEAP_SLOTS_INCREMENT=250000
RUBY_HEAP_SLOTS_GROWTH_FACTOR=1

export VIROOL_ENV=magicdream

export AWS_IAM_HOME=/Users/mike/IAMCli
export JAVA_HOME=$(/usr/libexec/java_home)
