export PGHOST=localhost
export EDITOR=subl

export SBT_OPTS='-Xmx2048M -XX:MaxPermSize=256M'
export RUBY_GC_MALLOC_LIMIT=120000000 
RUBY_HEAP_MIN_SLOTS=500000
RUBY_HEAP_SLOTS_INCREMENT=250000
RUBY_HEAP_SLOTS_GROWTH_FACTOR=1
